<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="navbar.css" rel="stylesheet" type="text/css">
<nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-fixed-top" >
    <div class="container">
      <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="./">
                    <img id="icon" src="./images/CASTLEICON.png">
                אבלון</a>
                <% if(typeof user !== 'undefined') { %>
                <a id="logout" class="nav-link" href="./logout">התנתק<span class="sr-only">(current)</span></a>
                <% } else {%>
                <a id="sign" class="nav-link" href="./register">הירשם<span class="sr-only">(current)</span></a>
                <% } %>   
                    
                <% if(typeof user !== 'undefined') { %>
                    <a id="account" class="nav-link" href="#"> <i class="fas fa-caret-down"></i>
                    <%= user %>
                    <% } else {%>
                <a id="login" class="nav-link" href="./login">
                    התחבר
                    <% } %>
                    <span class="sr-only">(current)</span></a>
            </div>
    </div>
</nav>

<% include modals/nav-menu %>
