<link rel="stylesheet" type="text/css" href="/user-nav-panel.css">
<div id="panel">
    <ul>
        <li onclick="location.href='/userdash';">ניהול משתמשים</li>
        <li onclick="location.href='/profile';">פרופיל</li>
        <li onclick="location.href='/cards';">קלפים</li>
        <li onclick="location.href='/';">דף הבית</li>
    </ul>
</div>