<link rel="stylesheet" type="text/css" href="/user-nav-panel.css">
<div id="panel">
    <ul>
        <li onclick="location.href='/userdash';">ניהול משתמשים</li>
        <li onclick="location.href='/profile';">פרופיל</li>
        <li onclick="location.href='/cards';">קלפים</li>
        <li onclick="location.href='/rules-terms';">תקנון וחוקים</li>
        <li onclick="location.href='/';">דף הבית</li>
        <hr class="hr"/>
        <li onclick="location.href='/ColorGame/game.html';">RGB Game</li>
        <li onclick="location.href='/Todo-List/index.html';">To-Do List</li>
    </ul>
</div>