<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">

    <head>
        <% include partials/background %>
    </head>

        <body>

      <% include partials/navbar %>

            <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                             <h1 id="headline">
                                 אודות
                             </h1>
                        <hr id="hr"/>
                        <p>
                            הוקם באמצעות 
                            <i class="fab fa-node">+</i> 
                            <i class="fab fa-html5">+</i>
                            <i class="fab fa-css3-alt"></i> 
                        </p>
                        <hr id="hr"/>
                    </div>
                </div>
            </div>
        </div>

        </body>

        <footer>
                <link href="/about.css" rel="stylesheet" type="text/css">
        </footer>
</html>