<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">

    <head>
        <% include partials/background %>
    </head>

        <body>

      <% include partials/navbar %>

            <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                             <h1 id="headline">
                                 אודות
                             </h1>
                        <hr id="hr"/>
                        <p>
                            הוקם באמצעות 
                            <i class="fab fa-node">+</i> 
                            <i class="fab fa-html5">+</i>
                            <i class="fab fa-css3-alt">+</i> 
                            <i class="fab fa-js">+</i>
                            <i class="fab fa-git-square">+</i>
                            <img src="./images/mongodb.png">
                            <ul>
                            ספריות
                                <li> <a href="https://mongoosejs.com/">mongooseJS</a> </li>
                                <li> <a href="https://github.com/mozilla/node-client-sessions">Mozilla's client-sessions</a> </li>
                                <li> <a href="https://expressjs.com/">ExpressJS</a> </li>
                                <li> <a href="https://jquery.com/">JQuery</a> </li>
                                <li> <a href="https://getbootstrap.com/">Bootstrap</a> </li>
                                <li> <a href="https://fontawesome.com/">FontAwesome</a> </li>
                                <li> <a href="http://ejs.co/">EJS - Embedded JavaScript</a> </li>
                            </ul>
                            אתר רספונסיבי מלא, גם בפלאפונים במצב שכיבה.
                            
                        </p>
                        <div id="gifs">
                            <h2> ניהול ניווט והרשאות לפי משתמש </h2>
                            <img src='/gifs/404.gif'>
                            <img src='/gifs/accessdenied.gif'>
                            <img src='/gifs/permission.gif'>
                            <h2> תפריטים דינמים </h2>
                            <img src='/gifs/logincollapse.gif'>
                            <img src='/gifs/recycle.gif'>
                            <h2> רספונסיבי בכל סוגי המכשירים </h2>
                            <img src='/gifs/responsive.gif'>
                        </div>
                        <hr id="hr"/>
                        <p> 
                        הערה: התמונות (שבניהם הקלפים ותמונת הרקע) אינן נוצרו על ידי וכן כל הזכויות שמורות ליוצרים המקוריים.
                        </p>
     
                    </div>
                </div>
            </div>
        </div>

        </body>

        <footer>
                <link href="/about.css" rel="stylesheet" type="text/css">
        </footer>
</html>