<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">

    <head>
        <% include partials/background %>
    </head>

        <body>

      <% include partials/navbar %>

            <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <hr id="hr"/>
                             <h1 id="headline">
                                הגישה נדחתה: אין הרשאה.
                             </h4>
                        <hr id="hr"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        </body>

        <footer>
                <link href="/index.css" rel="stylesheet" type="text/css">
        </footer>
</html>