<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">

    <head>
        <% include partials/background %>
    </head>

        <body>

      <% include partials/navbar %>

            <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                             <h1 id="headline">
                                 אבלון
                                 <img src="./images/CASTLEICON.png">
                             </h4>
                        <h4 id="subheadline">המשחק שבו תוכלו להתפרע, לשקר, לרמות ולבצע תעמולות.</h1>
                        <hr id="hr"/>
                        <p></p>
                    </div>
                    <button id="join"  class="btn btn-default btn-lg" onclick="location.href = './register';">הצטרפו!</button>
                </div>
            </div>
        </div>

        </body>

        <footer>
                <link href="/index.css" rel="stylesheet" type="text/css">
        </footer>
</html>