<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">

    <head>
            <% include partials/background %>
        </head>
    
            <body>
              
                 <% include partials/navbar %>
          
            <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="headbarform">
                            התחברות
                        </div>
                        <form method="POST" action="/login">
                        <div class="form-group">
                          <label id="emaillabel" for="exampleInputEmail1">כתובת דואר אלקטרוני</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" name="user" aria-describedby="emailHelp" placeholder="הכנס כתובת דואר אלקטרוני">
                        </div>
                        <div class="form-group">
                          <label id="passlabel" for="pass">סיסמה</label>
                          <input type="password" class="form-control" id="pass" name="pass" placeholder="בחר סיסמה">
                        </div>
                        <button id="submitbtn" type="submit" class="btn btn-primary">התחבר</button>
                        <% if(typeof redirect !== 'undefined') { %>
                            <input type="hidden" id="redirect" name="redirect" value='<%=redirect%>'>
                            <% } %>
                            <% if(typeof message !== 'undefined') { %>
                                <hr id="hr"/>
                                <p id="message"> שגיאה: פרטי זיהוי שגויים </p>
                               <% } %>
                      </form>
                    </div>
 
                </div>
            </div>
        </div>

        </body>

        <footer>
                <link href="./login.css" rel="stylesheet" type="text/css">
        </footer>
</html>