<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">

    <head>
        <% include partials/background %>
    </head>

        <body>

      <% include partials/navbar %>

            <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                             <h1 id="headline">
                                 חוקים ותקנון
                             </h1>
                        <hr id="hr"/>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos maiores consequatur ipsum ab ipsam unde placeat necessitatibus doloremque! Tempore ducimus rerum incidunt laudantium? Pariatur, quos culpa saepe quidem debitis dolorem!
                            Eu consectetur nostrud eiusmod nostrud fugiat dolore ea aliquip veniam est nulla aute irure. Deserunt duis id do ea id consequat ipsum sunt. Mollit aute et minim aliquip excepteur ut officia laboris qui. Proident aute est esse Lorem consectetur. Commodo esse id minim quis minim ipsum non fugiat velit sunt est nulla laboris qui. Amet consectetur id in sit est magna irure tempor amet Lorem commodo duis.
                            Eu consectetur nostrud eiusmod nostrud fugiat dolore ea aliquip veniam est nulla aute irure. Deserunt duis id do ea id consequat ipsum sunt. Mollit aute et minim aliquip excepteur ut officia laboris qui. Proident aute est esse Lorem consectetur. Commodo esse id minim quis minim ipsum non fugiat velit sunt est nulla laboris qui. Amet consectetur id in sit est magna irure tempor amet Lorem commodo duis.
                            Eu consectetur nostrud eiusmod nostrud fugiat dolore ea aliquip veniam est nulla aute irure. Deserunt duis id do ea id consequat ipsum sunt. Mollit aute et minim aliquip excepteur ut officia laboris qui. Proident aute est esse Lorem consectetur. Commodo esse id minim quis minim ipsum non fugiat velit sunt est nulla laboris qui. Amet consectetur id in sit est magna irure tempor amet Lorem commodo duis.
                            Eu consectetur nostrud eiusmod nostrud fugiat dolore ea aliquip veniam est nulla aute irure. Deserunt duis id do ea id consequat ipsum sunt. Mollit aute et minim aliquip excepteur ut officia laboris qui. Proident aute est esse Lorem consectetur. Commodo esse id minim quis minim ipsum non fugiat velit sunt est nulla laboris qui. Amet consectetur id in sit est magna irure tempor amet Lorem commodo duis.
                            Eu consectetur nostrud eiusmod nostrud fugiat dolore ea aliquip veniam est nulla aute irure. Deserunt duis id do ea id consequat ipsum sunt. Mollit aute et minim aliquip excepteur ut officia laboris qui. Proident aute est esse Lorem consectetur. Commodo esse id minim quis minim ipsum non fugiat velit sunt est nulla laboris qui. Amet consectetur id in sit est magna irure tempor amet Lorem commodo duis.
                            Eu consectetur nostrud eiusmod nostrud fugiat dolore ea aliquip veniam est nulla aute irure. Deserunt duis id do ea id consequat ipsum sunt. Mollit aute et minim aliquip excepteur ut officia laboris qui. Proident aute est esse Lorem consectetur. Commodo esse id minim quis minim ipsum non fugiat velit sunt est nulla laboris qui. Amet consectetur id in sit est magna irure tempor amet Lorem commodo duis.
        
                            </p>
                        <hr id="hr"/>
                    </div>
                </div>
            </div>
        </div>

        </body>

        <footer>
                <link href="/rules-terms.css" rel="stylesheet" type="text/css">
        </footer>
</html>