<link rel="stylesheet" type="text/css" href="/card-details.css">
<div id="card-details-content">
    <img id="card-details-content-card-img" src=''>
    <h3 id="card-details-content-card-name">card name</h3>
</div>