<link rel="stylesheet" type="text/css" href="/card-details.css">
<div id="card-details-content">
    <h1 id="card-details-content-card-name">card name</h1>
    <h3 id="card-details-content-card-lore">card lore</h3>
    <img id="card-details-content-card-img" src=''>
    <p id="card-details-content-card-details">card data</p>
</div>