<link href="nav-menu.css" rel="stylesheet" type="text/css">
<div id="nav-menu-content">
    <ul id="nav-menu-panel">
        <li id="nav-menu-btn-close">סגור <i class="fas fa-times"></i></li>
        <% include ../nav-menu-items %>
    </ul>
</div>
<script src="/nav-menu.js"></script>