<link href="nav-menu.css" rel="stylesheet" type="text/css">
<div id="nav-menu-content">
    <ul id="nav-menu-panel">
        <li id="nav-menu-btn-close">סגור <i class="fas fa-times"></i></li>
        <li onclick="location.href='/userdash'">ניהול משתמשים <i class="fas fa-users-cog"></i></li>
        <li onclick="location.href='/profile'">פרופיל <i class="fas fa-user"></i></li>
        <li onclick="location.href='/cards'">קלפים <i class="fas fa-archive"></i></li>
        <li onclick="location.href='/'">דף בית <i class="fas fa-home"></i></li>
        <li onclick="location.href='/logout'">התנתק <i class="fas fa-door-open"></i></li>
    </ul>
</div>
<script src="/nav-menu.js"></script>