<link href="nav-menu.css" rel="stylesheet" type="text/css">
<div id="nav-menu-content">
    <ul id="nav-menu-panel">
        <li id="nav-menu-btn-close">סגור X</li>
        <li onclick="location.href='/userdash'">ניהול משתמשים</li>
        <li onclick="location.href='/profile'">פרופיל</li>
        <li onclick="location.href='/cards'">קלפים</li>
        <li onclick="location.href='/'">דף בית</li>
        <li onclick="location.href='/logout'">התנתק</li>
    </ul>
</div>
<script src="/nav-menu.js"></script>