body {
    background: url("./images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
html, head {
    height: 100%;
    width: 100%;
}