#nav-menu-content{
    display:none;
    width:50%;
    margin-top:20px;
    left: 50%;
    position: fixed;
    z-index: 6;
   
}

.hide-login  {
    display:none;
}


#nav-menu-panel {

    text-align: center;
    padding: 0px;left: -50%;
    position: relative; 
}


#nav-menu-panel form input {
    width:100%;
    height:100%;
}

#nav-menu-panel form button {
    width:100%;
    height:100%;
    font-weight: 600;
    font-size: 1.2em;
    background-color: rgb(56, 50, 50);
}


#nav-menu-panel form input:focus {
    border: 2px solid darkred;
    text-align: left;
}

#nav-menu-panel li {
    
    font-size:20px;
    line-height: 60px;
    list-style: none;
    font-weight: 800;
    letter-spacing: 3px;
  
}

#nav-menu-panel li:nth-of-type(odd) {
    background-color: wheat;
}

#nav-menu-panel l   i:nth-of-type(even) {
    background-color: rgb(231, 193, 122);

}

#nav-menu-panel li:first-child {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: rgb(167, 3, 3);
}

#nav-menu-panel li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darkred;
 }

#nav-menu-panel li:hover {
 filter:brightness(80%);
 cursor: pointer;
 font-weight: 800;
 font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
#nav-menu-content{
    width:100%;
    height:100%;
    position: fixed;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
    margin-top:0px;
    overflow: auto;
}

#nav-menu-panel {
    text-align: center;
    padding: 0px;
    left: 0px;
}

#nav-menu-panel li {
    font-size:20px;
    line-height: 60px;
    list-style: none;
    font-weight: 800;
    letter-spacing: 3px;
}

#nav-menu-panel li:nth-child(even) {
    background-color: wheat;
}

#nav-menu-panel li:nth-child(odd) {
    background-color: rgb(231, 193, 122);
}

#nav-menu-panel li:first-child {
    background-color: rgb(167, 3, 3);
    border-radius: 0px;
    
 }

 #nav-menu-panel li:last-child {
    border-radius: 0px;
    
 }
 
#nav-menu-panel li:hover {
 filter:brightness(80%);
 cursor: pointer;
 font-weight: 800;
 font-size: 1.5em;
}
}