
body {
    font-family: "Comic sans MS";
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
span {
    background-color:red;
    margin-right: 20px;
    text-align: center;
    color:white;
    height: 40px;
    width: 0px;
    display: inline-block;
    transition: 0.2s;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    transition: background-color 1s,
                height 1s;
    border: 3px solid rgba(0,0,0,0)
}
input:focus {
    border: 2px solid royalblue;
    background-color: white;
    outline: none;
}
.hide {
    height:0px;
    padding: none;
    border: none;
}

h1 {
    font-weight: 700;
    color:whitesmoke;
    background-color: #2980b9;
    margin: 0px;
    padding:10px 15px;
    text-transform: uppercase;
    font-size: 24px;
}


ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    height: 40px;
    line-height: 40px;
    color: rgb(22, 22, 22);
}
li:nth-child(odd) {
    background-color:white;
}
li:hover span{
    width: 40px;
}

.fa-plus-square{
    float: right;
    padding: 5px;
}
.fa-plus-square:hover {
    cursor: pointer;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

#container {
 
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}